<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Complete</title>
</head>
<body>
    {% if session['playlist_name'] and session['playlist_url'] %}

    <h2>Your playlist songs are Transfered</h2>
    <p>Your playlist {{session['playlist_name']}} is successfully transferred</p>
    <p>Check it out <a href="{{session['playlist_url']}}" target="_blank">here</a></p>

    {% if not_found %}
    <p>Sorry, we could not find these songs</p>
    <ol>
    {% for song_name in not_found %}
    <li>{{song_name}}</li>
    {% endfor %}
    </ol>
    {% else %}
    <p>All songs were transferred, none were missed</p>
    {% endif %}
    
    {% else %}

    <h2>Your playlist failed to transfer</h2>

    {% endif %}

    <!-- For redirecting back to source page -->

    {% if session['source-service'] == 'spotify' %}

    {% if session['spotify_logged_in'] == 'False' %}
    <a href="/spotify">Transfer another Playlist</a><br>
    {% else %}
    <a href="/spotify/playlists">Transfer another Playlist</a><br>
    {% endif %}
    
    {% elif session['source-service'] == 'youtube' %}

    {% if session['youtube_logged_in'] == False %}
    <a href="/youtube">Transfer another Playlist</a><br>
    {% else %}
    <a href="/youtube/playlists">Transfer another Playlist</a><br>
    {% endif %}

    {% elif session['source-service'] == 'youtubemusic' %}
    
    {% if session['youtube_music_logged_in'] == False %}
    <a href="/youtubemusic">Transfer another Playlist</a><br>
    {% else %}
    <a href="/youtubemusic/playlists">Transfer another Playlist</a><br>
    {% endif %}

    {% endif %}
    <a href="/logout">Logout</a>
</body>
</html>